SHOW_SIGNUP=true
SIGNUP_FORM_URL=https://docs.google.com/forms/d/e/YOUR_FORM_ID/viewform?usp=header
SHOW_VOLUNTEER_SIGNUP=true
VOLUNTEER_SIGNUP_FORM_URL=https://docs.google.com/forms/d/e/YOUR_FORM_ID/viewform?usp=header
